{% extends 'base.html.twig' %}
{% block title %}{% trans into 'fr' %}Display!{% endtrans %}{% endblock %}
    {% block body %}

    {% if content.numberPenaltiesUnpaid == 0  %}
<div class="row ml-2 mt-2  text-responsive">
  <div class="alert alert-info"> Aucune Pénalité impayée n'est signalée dans la base à ce moment.</div>
</div>
<table class="table text-responsive" style="max-width:300px">
  <tbody>
    <tr>
      <td>
      <h6 class="my-0">{% trans into 'fr' %}Numéro CIN{% endtrans %}</h6>
                <small class="text-muted">ou Carte de Séjour</small>
      </td>
      <td><strong>{{content.numCIN}}</strong> </td>
    </tr>
    <tr>
      <td>
      <h6 class="my-0">Nombre des pénalités </h6>
                <small class="text-muted"> non payer</small></td>
      <td><strong class="ml-2" >{{content.numberPenaltiesUnpaid}}</strong></td>
    </tr>
     <tr>
        <td>
          <a class="btn btn-sm btn-primary text-white" href="{{ path ('pv')}}">Retour</a> 
        </td>
        <td>&nbsp; </td>
    </tr>

  </tbody>
{% endif %}
{% if content.numberPenaltiesUnpaid > 0  %}
<div class="row ml-2  text-responsive">
    <table class="table text-responsive" style="max-width:400px">

  <tbody>
    <tr>
      <td>
      <h6 class="my-0">{% trans %}Numéro CIN{% endtrans %} </h6>
                <small class="text-muted">ou Carte de Séjour</small>
      </td>
      <td><strong>{{content.numCIN}}</strong> </td>
    </tr>
     {% if content.numberPenaltiesUnpaid > 0  %}
    <td>
      <h6 class="my-0"> Prénom Nom</h6>
      </td>
      <td><strong>{{content.fullName}}</strong> </td>
    </tr>
    {% endif %}
    <tr>
      <td>
      <h6 class="my-0">{% trans %}Nombre des pénalités. {% endtrans %} </h6>
                <small class="text-muted"> non payer</small></td>
      <td><strong class="ml-2" >{{content.numberPenaltiesUnpaid}}</strong></td>
    </tr>

  </tbody>
</table>
</div>
<div class="row row-fluid ml-2 mt-2 text-responsive">
<div class="col-lg-4 col-sm-12">
<div class="table-responsive-sm">
<table class="table table-striped text-responsive">
  <thead>
    <tr>
      <th>Date de pénalité</th>
      <th>Montant</th>
      <th>paiement</th>
    </tr>
  </thead>
  <tbody>
  {% for penalty in content.penalties %}
    <tr>
      <td>{{penalty.datePenalty | date("d-m-Y") }}</td>
      <td>{{penalty.amountPenaty}} &nbsp;TND</td>
      <td><a type="button" class="btn btn-sm btn-primary" href="#"> payer</a> </td>
    </tr>
 {% endfor %}
  </tbody>
 <tr>
      <td>
            <strong>Total des pénalités non payer</strong>
      </td>
      <td>
            <strong>{{content.totalAmountPenalties}}&nbsp;TND</strong>
      </td>
      <td><a type="button" class="btn btn-sm btn-primary" href="#"> payer</a> </td>
    </tr>
    <tr>
        <td colspan = "3">
          <a class="btn btn-sm btn-primary text-white" href="{{ path ('pv')}}">Retour</a> 
        </td>
    </tr>
</table>
</div>
</div>
</div>
{% endif %}
        
    {% endblock %}
